.header {
  background-color: rgba(11, 43, 32, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  .logo {
    position: relative;
    width: 94px;
    height: 84px;
  }
  .navToggle {
    color: #fff;
    border: 1px solid;
    &:focus {
      box-shadow: none;
      color: #f8ab0c;
      background-color: transparent;
    }
  }
}
