:root {
  --breadcrumb-theme-1: #e91e63;
  --breadcrumb-theme-2: #fff;
  --breadcrumb-theme-3: #d80d52;
  --breadcrumb-theme-4: #c70041;
}
* {
  box-sizing: border-box;
}
* {
  user-select: none;
}

*:focus {
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}
a,
p,
span,
button,
div {
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
button {
  cursor: pointer;
  &:hover {
    background-color: #fff;
    border: 1px solid;
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
.wrapper-project {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto !important;
}
// .main {
//   @media screen and (min-width: 1280px) {
//     padding: 0 45px;
//   }
//   @media screen and (min-width: 1440px) {
//     padding: 0 90px;
//   }
//   @media screen and (max-width: 1279px) {
//     padding: 0 25px;
//   }
// }
.button {
  margin-top: 30px;
  button {
    background: #0b2b20;
    border: 2px solid #0b2b20;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.2;
    padding: 6px 30px;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    &:hover {
      color: rgba(248, 171, 12, 1);
      border: 2px solid;
      background: transparent;
    }
  }
}
#navbar_menu {
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu[data-bs-popper] {
    left: 0;
  }
  #dropdown_end {
    left: auto;
    right: 0;
  }
  .dropdown {
    .dropdown-menu {
      padding: 10px 12px;
      margin: 0;
      padding-top: var(--bs-dropdown-spacer);
    }
    .dropdown-item {
      border-radius: 8px;
      padding: 6px 15px;
      margin-top: 5px;
    }
    .dropdown-toggle {
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      padding-right: 0px;
      padding-left: 40px;
      &:hover {
        color: #f8ab0c;
      }
    }
    .btn-check:checked + .btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check) + .btn:active {
      border-color: transparent !important;
    }
    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: #0a58ca;
      color: #fff;
      .dropdown-toggle {
        background-color: #0a58ca;
        color: #fff !important;
      }
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}
#navbar_menu_golf {
  .dropdown-toggle::after {
    display: none !important;
  }
  .dropdown-menu[data-bs-popper] {
    left: 0;
  }
  #dropdown_end {
    left: auto;
    right: 0;
  }
  .dropdown {
    .dropdown-menu {
      padding: 10px 12px;
      margin: 0;
      padding-top: var(--bs-dropdown-spacer);
    }
    .dropdown-item {
      border-radius: 8px;
      padding: 6px 15px;
      margin-top: 5px;
    }
    .dropdown-toggle {
      font-weight: 600;
      text-transform: uppercase;
      color: #fff;
      font-size: 18px;
      padding-right: 0px;
      padding-left: 35px;
      &:hover {
        color: #f8ab0c;
      }
    }
    .btn-check:checked + .btn,
    .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check) + .btn:active {
      border-color: transparent !important;
    }
    .dropdown-item:focus,
    .dropdown-item:hover {
      background-color: #0a58ca;
      color: #fff;
      .dropdown-toggle {
        background-color: #0a58ca;
        color: #fff !important;
      }
    }
  }
  .navbar-collapse {
    flex-grow: 0;
  }
}
.heading {
  width: fit-content;
  margin: 0 auto;
  h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
  }
  .line {
    width: 40%;
    height: 3px;
    margin: auto;
    background-color: rgba(248, 171, 12, 1);
  }
}
#Navigation-Tour {
  .nav-tabs {
    border-bottom: none;
  }
  .nav-tabs .nav-link {
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    background-color: #e7e7e7;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 4px solid #e7e7e7;
    color: #5e5e5e;
    &:focus,
    &:hover {
      background: #ffffff;
      color: #0b2b20;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
      border-top: 4px solid #f8ab0c;
    }
  }
  .nav-tabs .nav-link.active {
    background: #ffffff;
    color: #0b2b20;
    box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.25);
    border-top: 4px solid #f8ab0c;
    &:focus,
    &:hover {
      color: #0b2b20;
      background-color: #ffffff;
    }
  }
}
#study-program {
  .accordion-item {
    border: 0;
  }
  .accordion-button {
    border-radius: 0px;
    background: #ebebeb;
    padding: 22px 33px;
    font-size: 18px;
    font-weight: 600;
    color: #0b2b20;
    &::after {
      background-image: url(https://cdn.imgbin.com/5/21/25/imgbin-font-awesome-computer-icons-chevron-corporation-font-button-zwLZDWSgxpp3sEu63Q2JMZghv.jpg);
    }
    &:not(.collapsed)::after {
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTUFti-tedO87YylMvi1iBnEf5sA3ZqyRue7A&usqp=CAU);
    }
    &:hover {
      color: #000;
      background: #ebebeb;
      border: none;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .accordion-body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    padding: 20px 34px;
    border: 0.25px solid #565656;
  }
}
#footer .swiper,
#footer .swiper-wrapper {
  position: unset !important;
}
#footer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .swiper-pagination {
  bottom: 15px;
  z-index: 1;
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    margin: 0 10px !important;
  }
  .swiper-pagination-bullet-active {
    background-color: #f8ab0c;
  }
}
#pro-shop {
  .nav-pills .nav-link {
    border-radius: 0px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 0px;
    width: fit-content;
    .item {
      padding-left: 25px;
    }
    .sub-item {
      padding-left: 35px;
      padding-right: 40px;
    }
    .fa-regular.fa-chevron-down {
      margin-left: 10px;
    }
    .fa-solid.fa-grid-2 {
      margin-right: 10px;
    }
  }
  .nav-pills .nav-link.active {
    background: #0b2b20;
    color: #fff;
  }
  .tab-content {
    width: 100%;
  }
  .swiper {
    width: 100%;
    position: relative;
  }
  .swiper-pagination {
    bottom: -100px;
  }
}
#ProShopDetail {
  .nav-tabs {
    border-bottom: none;
  }
  .nav-link {
    border-radius: 0px;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 8px;
    margin-right: 35px;
    width: fit-content;
    border: none;
  }
  .nav-link.active {
    border-bottom: 3px solid #f8ab0c;
  }
  .tab-content {
    margin-top: 35px;
    width: 100%;
  }
}
